body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content {
   
}

<<<<<<< HEAD
h1 {
    color: black;
    font-family: 'Trebuchet MS'
}

h2 {
    color:whitesmoke;
=======
h2{
    color:#000000;
>>>>>>> fde26f3c80d4e20c9ad7c9a608a71ba00f330995
    font-family:'Trebuchet MS'
}

#bckgrnd {
    padding-top: 70px;
    padding-bottom: 70px;
}

.font1{
    font-family:'Agency FB';
}

.intro{
    font-size:xx-large;
    font-family:'Agency FB';
    
}

#map{
    height: 400px;
}
<<<<<<< HEAD
=======

.tHead {
    font-family: 'Agency FB';
    border-top-style: double;
    border-bottom-style: double;
}

.PlayerIndex {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    color: #eee;
    background-image:linear-gradient(black, gray);
}

.createBck{
    /*background-color:darkgray;*/
    background-position:bottom;
    background-repeat:no-repeat;
    
}




>>>>>>> fde26f3c80d4e20c9ad7c9a608a71ba00f330995
