@{
    ViewBag.Title = "Contact Us";
}
<h1>@ViewBag.Title</h1>
<address>
    333 N. Plankinton<br />
    Milwaukee, WI 53204<br />
    <abbr title="Phone">Phone Number:</abbr>
    414.748.1971
</address>

<address>
    <strong>Support:</strong>   elias_footballer2@yahoo.com
</address>