@{
    ViewBag.Title = "Home Page";
}
<body background="~/Content/hoopb.jpg">
     
</body>
<div id="background2" class="container-fluid bg-2 text-center">
    <h2 class="font1" style="color:red"><strong>Welcome To PickUp Sports!</strong></h2>
    <p class="intro" style="color:dodgerblue"><strong>
        Ever want to go out and get a game of your favorite sport/acitivity going but didn't have enough to make it happen? <br />
        We've got an app for that!<br /> Introducing the New PickUp Sports app that allows users to CREATE live EVENTS for others users to view and join!<br />
        Set the time, place, and amount of people you're looking to PickUp and Get In The Game!
                                           </strong> 
    </p>
</div>
<hr />
<div id="background3" class="container-fluid bg-3 text-center">
    <h2 class="font1" style="color:whitesmoke"><strong>Compatible Sports</strong></h2>
    <div class="col-sm-4">
        <img src="~/Content/baseball.jfif" class="img-responsive img-rounded" />
    </div>
    <div class="col-sm-4">
        <img src="~/Content/socccer.jpg" class="img-responsive img-rounded" />
    </div>
    <div class="col-sm-4">
        <img src="~/Content/hoop.jpg" class="img-responsive img-rounded" />
    </div>
</div>
<footer>
    
</footer>
@*<div class="row">
    <div class="col-md-4">
        <hr />

        <h3>Add A New Event</h3>
        <p>
             Add Text if needed
        </p>
        <p><a class="btn btn-default" href="">button text here</a></p>
    </div>
    <div class="col-md-4">
        <h3>Find a Park</h3>
        <p></p>
        <p><a class="btn btn-default" href="">button text here</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">button text here</a></p>
    </div>
</div>*@