@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PickUp Sports</h1>
    <p class="lead">Get In The Game!</p>
    <p><a href="https://twitter.com/pickUp_Sp0rts" target="_blank" class="btn btn-primary btn-lg">Follow Us!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Add A New Event</h3>
        <p>
            <!-- Add Text if needed-->
        </p>
        <p><a class="btn btn-default" href=""><!--button text here--></a></p>
    </div>
    <div class="col-md-4">
        <h3>Find a Park</h3>
        <p></p>
        <p><a class="btn btn-default" href=""><!--button text here--></a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""><!--button text here--></a></p>
    </div>
</div>